.main-admin {
  display: flex;
  justify-content: center;
  background-color: rgba(231, 238, 249, 0.5);

  .col-droite {
    display: flex;
    margin: 2rem 2rem;

    .categories-container,
    .prestations-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 2rem;
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 2rem;
      background-color: white;

      .container-inputs {
        display: flex;
        flex-direction: column;
        height: fit-content;

        .categorie-inputs,
        .prestations-inputs {
          display: flex;
          flex-direction: column;
        }
      }
      input,
      select,
      textarea {
        padding: 0.5rem;
        font-size: 1rem;
        resize: none;
        margin-bottom: 1rem;
        width: 95%;
      }
    }

    h2 {
      font-family: Cinzel;
      font-weight: 400;
      margin-bottom: 1rem;
      text-align: center;
      font-size: 40px;
      font-weight: 500;
      padding-bottom: 1rem;
      border-bottom: solid 1px rgba(128, 128, 128, 0.3);
      margin-bottom: 3rem;
    }
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .button-div {
      cursor: pointer;
      align-items: center;
      width: fit-content;
      margin: 1rem;
      background-image: linear-gradient(
        50deg,
        hsl(205deg 44% 75%) 0%,
        hsl(339deg 17% 68%) 53%,
        hsla(0, 40%, 63%, 0.459) 100%
      );
      padding: 0.4rem;
      border-radius: 25px;

      @media screen and (max-width: 1250px) {
        align-self: flex-end;
      }

      a,
      button {
        padding: 0.17rem 2rem;
        font-weight: 400;
        font-size: 15px;
        font-family: Poppins;
        text-decoration: none;
        border-radius: 12px;
        border: none;
        box-shadow: 0px 10px 8px -3px rgba(0, 0, 0, 0.3);

        background-color: #f0f0f0;
      }

      a:hover,
      button:hover {
        background-color: #f0f0f0;
        box-shadow: inset 0px 10px 8px -3px rgba(0, 0, 0, 0.3);
      }
    }
  }

  .confirmation-message {
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: green;
  }
}
