.gift-card {
    position: relative;
    width: auto;
    height: 500px;
    background: linear-gradient(to bottom right, #87CEFA, #FFB6C1);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
  }
  
  .gift-card input,
  .gift-card textarea {
    border: 2px solid #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-family: "Parisienne", cursive;
    font-size: 1.5rem;
  }

  .gift-card textarea {
    height: 80px;
    width: 50%;
    resize: none;
  }
  
  .gift-card button {
    background-color: #db81ae;
    align-self: center;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    width: 50%;
    transition: background-color 0.3s ease;
  }
  
  .gift-card button:hover {
    background-color: #e65da6;
  }
  
  .gift-card p {
    font-size: 1.5rem;
    text-align: right;
    margin-top: 20px;
  }
  
  .gift-card .recipient,
  .gift-card .sender {
    font-size: 1em;
    font-weight: bold;
    color: #fff;
  }
  
  .gift-card .message {
    border: 1px dashed #fff;
    padding: 10px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
  }  

  .gift-card span {
    display: flex;
    margin-top: 20px;
  }
  
  .gift-card h2 {
    text-align: center;
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
  }

  .gift-card input {
    width: 50%;
  }
  
  .sender-offer {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .sender-offer span {
    margin: 0 5px;
  }
  
  .gift-card select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .gift-card h3 {
    text-align: center;
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 400;
    margin-top: 20px;
  }
  