.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  box-shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-top: 2rem;

  .prestations-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  }

  h2 {
    font-family: Cinzel;
    font-weight: 400;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  }

  .prestations-list {
    .prestation {
      display: flex;
      gap: 1rem;
    }

    button {
      padding: 0.1rem 0.5rem;

      border: 1px solid red;
      border-radius: 100%;
      background-color: inherit;

      color: red;
      font-weight: bold;

      transition: all 0.3s ease;

      &:hover {
        background-color: red;
        color: white;
      }
    }
  }

  .prestations-total {
    display: flex;

    gap: 0.5rem;
    p {
      font-weight: bold;
    }
  }

  .button-div {
    align-self: center;
    width: fit-content;
    margin-top: 2rem;
    background-image: linear-gradient(
      50deg,
      hsl(205deg 44% 75%) 0%,
      hsl(339deg 17% 68%) 53%,
      hsla(0, 40%, 63%, 0.459) 100%
    );
    padding: 0.25rem;
    border-radius: 18px;

    button {
      padding: 0.3rem 2rem;
      font-weight: 500;
      border-radius: 15px;
      border: none;
      box-shadow: 0px 10px 8px -3px rgba(0, 0, 0, 0.3);
      transition: all 0.5s;
    }

    button:hover {
      box-shadow: inset 0px 10px 8px -3px rgba(0, 0, 0, 0.3);
    }
  }

  .panier-vide-cart {
    align-self: center;
    margin-top: 2rem;
  }
}
